
/* Modal Log-in */

.login-modal {
    margin: 100px auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    outline: 0;
    -webkit-transition: all .15s linear;
    transition: all .15s linear;

        @media screen and (max-height: 580px) {
            margin: auto;
        }

    .login-form-modal {
        max-width: 450px;
        margin: 20px auto;

        @media screen and (max-height: 580px) {
            margin: auto;
        }

        .modal-content-wrapper {
            display: flex;
            overflow: hidden;
            background-color: #fff;
            border-radius: 4px;
            transform: translateY(10px);
            -webkit-transform: translateY(10px);
            -moz-transform: translateY(10px);
            -ms-transform: translateY(10px);
            -o-transform: translateY(10px);
            animation: fade-in-modal 0.3s linear;
            -webkit-animation: fade-in-modal 0.3s linear;


            .modal-contents {
                position: relative;
                display: flex;
                -ms-flex-direction: column;
                flex-direction: column;
                width: 100%;

                .login-form-header {
                    position: relative;
                    line-height: 20px;
                    font-size: 32px;
                    font-family: 'broya';
                    padding: 12px 20px 12px 12px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: var(--background-body);
                    color: #757373;

                    a {
                        width: 28px;
                        height: 28px;
                        display: flex;

                        path {
                            transition: all 0.4s;
                            fill: #757373;;
                        }

                        &:hover path {
                            fill: #ed4093;
                            transition: all 0.4s;
                        }
                    }
                }

                .login-form-content {
                    > span {
                        color: #757373;
                        font-family: 'broya';
                        font-size: 28px;
                        padding: 20px;
                        display: block;
                    }
        
                    &>div:first-of-type {
                        padding: 20px;
                        font-size: 14px;
                        font-family: Yekan;
                        font-weight: 100;
                        background-color: #FFF;
                        margin: 16px 20px 0;
                        text-align: center;
                        border-radius: 4px;        
                        -webkit-border-radius: 4px;
                        -moz-border-radius: 4px;
                        -ms-border-radius: 4px;
                        -o-border-radius: 4px;

                        @media screen and (max-height: 580px) {
                            margin: 0px 20px 0;
                        }
        
                        a {
                            color: #EC406A;
                            margin: 0 8px;
                            user-select: none;
                            position: relative;
                            text-wrap-mode: nowrap;
                        }
        
                        a::after {
                            content: "";
                            left: 0;
                            right: 0;
                            top: 50%;
                            margin-top: .85em;
                            position: absolute;
                            border-bottom: 1px dashed #a0a0a0;
                        }
                    }

                    form[name='login-modal'] {
                        padding: 26px;
                        display: flex;
                        flex-direction: column;
                        row-gap: 14px;

                        @media screen and (max-height: 580px) {
                            padding: 8px 26px;
                        }
        
                        div {
                            position: relative;
                            overflow: hidden;
        
                            i {
                                position: absolute;
                                left: 10px;
                                top: 6px;
                                font-size: 28px;
                                color: var(--background-panel);
                                opacity: 0.6;
                                user-select: none;
                            }
        
                            input[type='text'] {
                                background-color: rgba(39, 79, 107, 0.08);
                                color: #274f6b;
                                font-size: 14px;
                                font-family: "Poppins", 'YEKAN';
                                letter-spacing: 0.1rem;
                                line-height: 1.6;
                                text-align: center;
                                direction: ltr;
                                padding: 8px 10px;
                                width: 100%;
                                outline: none;
                                border: solid 1px rgba(0, 0, 0, 0.12);
                                border-radius: 4px;
                                -webkit-border-radius: 4px;
                                -moz-border-radius: 4px;
                                -ms-border-radius: 4px;
                                -o-border-radius: 4px;
        
                                &::placeholder {
                                    color: rgba(39, 79, 107, 75%);
                                    vertical-align: middle;
                                    font-family: "Poppins", 'YEKAN' !important;
                                    text-align: right;
                                }
        
                                &[name="email-modal"],
                                &[name="password-login-modal"] {
                                    direction: ltr;
                                }
                            }
        
                            button {
                                background-color: #274f6b;
                                color: rgb(240 243 245);
                                font-size: 16px;
                                font-family: 'YEKAN';
                                line-height: 1.6;
                                padding: 8px 10px;
                                width: 100%;
                                outline: none;
                                border: none;
                                border-radius: 4px;
                                -webkit-border-radius: 4px;
                                -moz-border-radius: 4px;
                                -ms-border-radius: 4px;
                                -o-border-radius: 4px;
                                cursor: pointer;
        
                                &[name="sign-in-modal"]::before {
                                    position: absolute;
                                    font-family: "Line Awesome Free";
                                    font-weight: 900;
                                    content: "\f2f6";
                                    color: #fff;
                                    opacity: 1;
                                    right: 10px;
                                    top: -1px;
                                    font-size: 28px;
                                    user-select: none;
                                }
        
                                &::after {
                                    content: "";
                                    position: absolute;
                                    width: 50px;
                                    height: 100%;
                                    top: 0;
                                    right: 0;
                                    background-color: rgba(255, 255, 255, 0.2);
                                    border-top-left-radius: 85px 100px;
                                    border-bottom-left-radius: 85px 100px;
                                    transition: all .6s;
                                    overflow: hidden;
                                }
        
                                &:hover::after {
                                    width: 140%;
                                    transition: all .6s;
                                }
                            }
                        }
    
                        .form-check-modal {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
                            font-size: 14px;
                            font-family: 'Yekan';
                        
                            a {
                                transition: color 0.25s ease;
                              
                                &:hover {
                                  color: #ed4093;
                                }
                            }
                        
                            .remember-me-modal {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                cursor: pointer;
                        
                                span {
                                    margin-right: 2px;
                                    cursor: pointer;
                                    user-select: none;
                                }
                            }
                        }
                    }
                }

            }
        }
    }

}

@keyframes fade-in-modal {
    0% {
        opacity: 0;
        visibility: visible;
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
    }
    100%{
        opacity: 1;
        visibility: visible;
        transform: translateY(10px);
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
    }
}

@keyframes fade-out-modal {
    0%{
        opacity: 1;
        visibility: visible;
        transform: translateY(10px);
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
    }
    40%{
        opacity: 0.1;
    }
    50%{
        opacity: 0.05;
    }
    65% {
        opacity: 0.0;
        visibility: hidden;
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/* Notification default style */

.notif-wrapper-default {
    /* --notif-background: #fbff13;
    --notif-color: #000000;
    --notif-icon: #ff391f; */
    position: fixed;
    right: 3rem;
    width: max-content;
    min-width: 250px;
    height: 60px;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16), 0 0 2px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16), 0 0 2px 0 rgba(0, 0, 0, .12);
    padding: 8px 16px;
    display: flex;
    flex-direction: row;
    animation: fade-in-notif 5.3s linear;
    -webkit-animation: fade-in-notif 5.3s linear;
    z-index: 3;
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    visibility: hidden;
    opacity: 0;

    @media screen and (max-width: 550px) { 
        right: 10px;
    }
    
    .notif-content-default {
        display: flex;
        align-items: center;
        width: 100%;
        
        button {
            font-size: 26px;
            font-family: serif;
            position: absolute;
            left: 5px;
            top: 5px;
            padding: 2px;
            line-height: 0.5;
            background-color: transparent;
            outline: none;
            border: none;
            border-radius: 2px;
            text-align: center;
            cursor: pointer;
            appearance: none;
     
            span {
                display: block;
                height: 14px;
            }
     
            &:hover,
            &:focus,
            &:active {
                font-weight: 600;
                border: solid 1px rgba(0, 0, 0, 0.3);
                padding: 1px;
            }
        }
    
        > div.notif-msg-wrapper-default  {
            font-size: 14px;
            font-family: 'Yekan';
            font-weight: 400;
            
            @media screen and (max-width: 550px) {
                font-size: 12px;
            }
        
            span {
                word-spacing: 2px;
                
                @media screen and (max-width: 550px) {
                    word-spacing: 0px;
                }
            }
        
            i {
                font-family: serif;
                font-size: 18px;
                margin-left: 8px;
                font-weight: 900;
        
                &::after {
                    content: "";
                }
        
            }
        }
    }
 
    &::after {
        content: "";
        position: absolute;
        bottom: 10px;
        width: calc(100% - 32px);
        height: 0.2rem;
        transform: scaleX(0);
        transform-origin: right;
        z-index: 1;
        animation: progress-notif 4.5s 0.4s linear;
        -webkit-animation: progress-notif 4.5s 0.4s linear;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
    }
}
    
@keyframes fade-in-notif {
        5% {
            opacity: 1;
            visibility: visible;
            transform: translateY(10px);
            -webkit-transform: translateY(10px);
            -moz-transform: translateY(10px);
            -ms-transform: translateY(10px);
            -o-transform: translateY(10px);
        }
        95% {
            opacity: 1;
            transform: translateY(10px);
            -webkit-transform: translateY(10px);
            -moz-transform: translateY(10px);
            -ms-transform: translateY(10px);
            -o-transform: translateY(10px);
        }
}
     
@keyframes progress-notif {
    0% {
        transform: scaleX(0);
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
        -o-transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
        -o-transform: scaleX(1);
    }
}

@keyframes l23 {
  100% {transform: rotate(1turn)}
}
